@page "/calc"
@page "/calculator"

<h1>Calculator</h1>

<div class="row">
    <div class="col-md-4">
        <p>
            <input class="form-control" bind="@Result" />
        </p>

        <p>
            <button class="btn btn-primary">+</button>    
            <button class="btn btn-primary">-</button>
            <button class="btn btn-primary" disabled>=</button>
        </p>

        <p>
            <input class="form-control" readonly bind="@Result" />
        </p>
    </div>
</div>

@functions {
    public string Result { get; set; }
}